:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  background: linear-gradient(30deg, red, blue);
  background-size: 300% 300%;
  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

input {
  font-family: inherit;
  font-size: 1rem;
  padding: 0.7rem 1rem;
  background-color: transparent;
  color: white;
  border: 2px solid rgb(101 62 153);
  border-radius: 7px;
  outline: none;
  width: 100%; /* prevents mobile horizontal scroll? */
}
input::placeholder {
  color: rgb(137, 96, 190);
}
input:focus-visible {
  border: 2px solid #646cff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  color: white;
  border: 2px solid rgb(97 56 153);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: none;
  border: 2px solid #646cff;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/* ==================
      Form
===================== */

.form {
  position: relative;
  max-width: 26rem;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: rgb(12 0 42 / 45%);
  box-shadow: 0px 0px 20px 0px rgb(255 255 255 / 20%);
}

.form-page-indicator {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 0.8rem;
}

.form-title {
  font-size: clamp(1.4rem, 5vw, 1.6rem);
}

fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: start;
  margin-bottom: 2rem;
}
.form-inputs label {
  margin-bottom: 0.5rem;
  color: #efe6fb;
}

.form-controls {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: auto;
}
.form-controls button {
  width: 5rem;
  /* prevent button width jump 'Next' / 'Finish' */
}
